@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_wght.ttf");
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: normal;
  word-wrap: break-word;
  background-color: var(--el-bg-color);
}

:root {
  --el-color-primary: rgba(26, 92, 255, 1) !important;
}
