$--colors: (
  "primary": (
    "base": #1a5cff,
    "light-3": #4f81ff,
    "light-9": #ecf5ff,
  ),
  "warning": (
    "base": #fd8229,
    "light-3": #ffa41b,
    "light-5": #f2d09d,
    "light-9": #fcf6ec,
  ),
  "success": (
    "base": #26d060,
  ),
  "danger": (
    "base": #e73c47,
  ),
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
  $colors: $--colors,
  $common-component-size: (
    "default": 37px,
  ),
  $button: (
    "hover-bg-color": none,
    "text-color": theme("colors.gray-dark"),
    "border-color": theme("colors.gray-light"),
  )
);
